.body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg,rgb(207, 168, 115),rgb(236, 214, 184));
    background-repeat:no-repeat ;
    height: 1000px;
   }
   

   .productsContainer{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    width: 100%;
    margin-top: 120px;
   }
   
   .block1{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-left: 200px;
    background-color:rgb(213, 173, 116);

    
    
   }.priceFilterTitle{
    font-size: 20px;
    margin-left: 50px;
   }

   .PriceFilter{
    margin-top:15px;
    margin-left: 60px;
   }.deContainer{   

   }.deStrong{
     margin-right: 4px;
   }.deInput{
    width: 60px;
   }

   .atéContainer{
    margin-top: 6px;

   }.atéStrong{

   }.atéInput{
    width: 60px;
   }


   .vitrine{
     display: flex;
   
   }.prateleira1{
    width: 100%;
    justify-content:space-between;
    display: flex;
    align-items: center
   }

   

   .produto1{
    background-color: white;
    margin-left:120px ;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor:pointer;
    transition:all 0.1s ease-out;
   }.produto1:hover{ transform: scale(1.1);}
   
   .produto2{
    margin-left:150PX;
    width: 200px;
    height: 300px;
    background-color:white ;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor: pointer;
    border-radius: 9px;
    transition:all 0.1s ease-out;
    
   }.produto2:hover{
    transform: scale(1.1);
   }
   .makrama1{
    border-radius: 9px;
    background-color: aqua;
    height: 230px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
   }
   
   .makrama2{
    border-radius: 9px;
    background-color: aqua;
    height: 230px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
   }

   
   .priceBlock{
    display: flex;
    justify-content: space-between;
    align-items: ;
   }.descriptionContainer{
    margin-left: 20px;
    
   }.TitleContainer{
    font-size: 16px;
   }.produto2Title{
    margin-left: 8px;
   }

   .produto2Description{
    margin-left:15px ;
   }
   .produto2DescriptionStrong{
    font-size: 12px;
    margin-left: ;
   }.produto2DescriptionStrong2 {
    font-size: 12px;
   }

   .Price2Strong{
    font-size:20px;
    margin-right: 20px;
   }

   
  .prateleira2{
    display: flex;
    justify-content: ;
    align-items: center;
    margin-left: 500px;
    margin-top:40px ;
   }.produto3{
    margin-left:150PX;
    width: 200px;
    height: 300px;
    background-color:white ;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor: pointer;
    border-radius: 9px;
    transition:all 0.1s ease-out;
  }.produto3:hover{
    transform: scale(1.1);
  }
  
  .produto4{
    margin-left:150PX;
    width: 200px;
    height: 300px;
    background-color:white ;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor: pointer;
    border-radius: 9px;
    transition: all 0.1s ease-out;
  }.produto4:hover{
    transform: scale(1.1);
  }