.bodyContainer{
    height: 1000px;
    background:linear-gradient(180deg, rgb(212, 189, 158),   rgb(191, 163, 127) );
}


.vitrine{
    align-items: center;
    justify-content: space-between;
    display: flex;

} .amostra1{
    background-image: url(produto1.png);
    background-repeat:no-repeat ;
    background-size: 280px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 280px;
    height: 350px;
    border-radius: 15px;
    margin-left: 90px;
    margin-top: 90px;
    transition: transform 0.3s ease;
    cursor:pointer;
    
}.amostra1:hover{
    transform: scale(1.2);
}.nomeProduto{
    height: 30px;
    
    justify-content: center;
    text-align: center;
    display: flex;
    border-radius: 15px;
}.strongNomeProduto{
    margin-top: 4px;
    
}.ImagemProduto{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(213, 62, 62);
    width: 100px;
    height: 100px;
}.img1{
    margin-left:40px ;
    width: 200px;   
    border-radius: 15px;
}


.amostra2{
    background-color: white;
    width: 280px;
    height: 350px;
    border-radius: 10px;
    margin-top: 90px;
}
.amostra3{
    background-color: white;
    width: 280px;
    height: 350px;
    border-radius: 10px;
    margin-right: 90px;
    margin-top: 90px;
}