@font-face {
    font-family: 'OPTIOnyx';
    src: url('OPTIOnyx.woff2') format('woff2'),
        url('OPTIOnyx.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
