

.trueHeaderContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: green;
    height: 3.8vh;
}.locationContainer{
    margin-left: ;
}.geoStrong{
    display: inline-block;
    cursor: pointer;
    margin-top: 0.5vh;
    margin-left: 6.3vw;
    transition: 0.07s;
}.locationContainer .geoStrong:hover{
    scale: 1.08;
    color: white;
}

.instagramContainer{
    display: flex;
    margin-left: 68.5%;
    cursor: pointer;
}.instaBlock{
    transition: 0.1s;
}
.insta{
    margin-top: vh;
    width: 1.2vw;
    height: 2.3vh;
    
}.instaStrong{
    margin-left:0.3vw;
    margin-bottom: ;
    
}.instagramContainer .instaBlock:hover{
    transform: scale(1.1);
}


.headerContainer {
    display: flex;
    align-items: center;

    width: 100%;
    height: 10vh;
    
    
    background-color: rgb(255, 255, 255);
}

.logoContainer {}

.img {
    margin-top: 1vh;
    margin-left: 6vw;
    width: 13vw;
    height: 100%;
}


.navContainer {
    margin-left: 67vw;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.receitasButton {
    align-items: center;
    justify-content: center;
}

.receitasButton .receitasStrong:hover {
    transform: scale(1.2);
    color: rgb(0, 0, 0);
}


.receitasStrong {
    font-size: 17px;
    display: inline-block;
    cursor: pointer;
    transition: 0.15s;
    color: green;
}