.mainBlock2 {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}

.ImageContainer {
    width: 40vw;
    margin-left: 5.7vw;
    margin-top: 12vh;
    border-radius: 30px;
}

.prato {
    width: 100%;
    height: auto;
    border-radius: 30px;

}

.TextContainer {
    margin-right: 20vw;
    margin-left: 5vw;
    margin-top: 16vh;
}   

.TitleContainer {
margin-bottom: 2vh;
}.TitleStrong{
    font-size: 32px;
}

.ParagraphContainer {
    width:25vw ;
    display: flex;
}

