

.trueHeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(51,83,47,255);
    height: 3.8vh;
}.locationContainer{
    
}.geoStrong{
    display: inline-block;
    cursor: pointer;
    margin-top: 0.5vh;
    margin-left: 6.3vw;
    transition: 0.07s;
}.locationContainer .geoStrong:hover{
    scale: 1.08;
    color: white;
}

.instagramContainer{
    display: flex;
    margin-right: 13vw;
    cursor: pointer;
}.instaBlock{
    transition: 0.1s;
}
.insta{
    margin-top: vh;
    width: 1.2vw;
    height: 2.3vh;
    
}.instagramContainer .instaBlock:hover{
    transform: scale(1.1);

}