.body{
    background-color: #a47864;
    margin: 0;
    padding: 0;
    border: 0;
}

.hdr{
    background-color: #a47864;
    width: 100%;
    height: 150px;
    text-align: center;
}

.h1{
    font-size: 37px;
    
}

.hdtitle {
    display: flex;
    width: 50%;
}