
.FooterTitleContainer{
    margin-top: 100px;
   margin-left: 90px;


}.footerTitle{
    font-size: 24px;
    color: white;
}

.footer{
    width: 100%;
    height: 250px;
    margin-top: 0px;
    
}.linksContainer{
    align-items: center ;
    justify-content:left ;
    display: flex;
    margin-left: 94px;
    margin-top: 15px;

    
} .whatsappContainer{
    margin-right:15px ;
    cursor: pointer;
}
.instagramContainer{

}


.contactmeContainer{
    margin-top: 200px;
    margin-left: 90px;
}

.strongFooter{
 color: white;
 font-size: 20px;
}