


.footer{
    width: 100%;
    
    
    
}

.logoContainer{
   width: 9vw;
}.footerLogo{
  width: 100%;
}

.linksContainer{
    align-items: center ;
    justify-content:left ;
    display: flex;
    margin-left: 0vw;
    margin-top: 15px;

} .whatsappContainer{

    margin-left: 12.7vw;
    cursor: pointer;
}
.instagramContainer{

}


